body {
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
  text-align:center;
}

nav {
  padding:15px;
  background:#020617;
}

.hero {
  padding:50px;
}

textarea {
  width:80%;
  height:100px;
  border-radius:10px;
  padding:10px;
}

button {
  padding:12px 20px;
  background:linear-gradient(45deg,#6366f1,#8b5cf6);
  border:none;
  color:white;
  border-radius:10px;
  margin-top:10px;
}

iframe {
  width:95%;
  height:400px;
  margin-top:20px;
  border:2px solid white;
}

.watermark {
  position:fixed;
  bottom:10px;
  right:10px;
  font-size:12px;
  color:white;
  text-decoration:none;
  opacity:0.7;
}

.watermark:hover {
  opacity:1;
  transform:scale(1.1);
}
